************** PYTHON PROGRAMMING EXAMPLE FOR PARCTICE BEGINNERS ******************************

Q1. Write a Python program that defines a function called "add_numbers" that takes two
arguments (i.e.,
numbers) and returns their sum. Within the function, add the two numbers together and return
the result
using the return statement. Call the function with the values 5 and 6, and print out the returned
result.
This will result in the addition of 5 and 6, with the output of the program being the sum of these
two
numbers.

In [1]:
def add_numbers(num1,num2):
    return num1+num2
result=add_numbers(5,6)
print(result)

11

Q2. Write a Python program that calculates the square root of a given number using a built-in
function.
Specifically, the program should take an integer or float input from the user, calculate its square
root
using the 'sqrt()' function from the 'math' module, and print out the result to the user. As an
example,
calculate the square root of the number 625 using this program, which should output the value
of 25.

In [2]:
import math
math.sqrt(625)

25.0

Q3.Write a program that prints all prime numbers between 0 to 50.

In [3]:
def prime(n):
    num=2
    for i in range(n):
        if all(num%i!=0 for i in range(2,int(num**0.5)+1)):
            yield num
        num+=1
p=prime(51)
for i in p:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Q4.How can we swap the values of three variables (let's say a, b, and c) without using a fourth
variable?
For example, if we have a=5, b=8, and c=9, how can we obtain a=9, b=5, and c=8? The
challenge is to
perform this operation without using an additional variable to store any of the values during the
swapping process.

In [4]:
a,b,c=5,8,9
a,b,c=c,a,b
print(a,b,c)

9 5 8

Q5. Can you write a program that determines the nature of a given number (in this case, 87) as
being
positive, negative, or zero? The program should be designed to take the number as input and
perform the
necessary calculations to determine if the number is positive (i.e., greater than zero), negative
(i.e., less
than zero), or zero (i.e., equal to zero). The output of the program should indicate which of these
three
categories the given number falls into.

In [5]:
n=87
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("it is equal to zero")

positive

Q6. How can you create a program that determines whether a given number (in this case, 98) is
even or
odd? The program should be designed to take the number as input and perform the necessary
calculations to determine whether it is divisible by two. If the number is divisible by two without
leaving a
remainder, it is an even number, and if there is a remainder, it is an odd number. The output of
the
program should indicate whether the given number is even or odd.

In [6]:
n=98
if n%2!=0:
    print("odd")
else:
    print("even")

even

Q7.Write a program for sum of digits.The digits are 76543 and the output should be 25.

In [7]:
n=76543

rev=0
while n>0:
    dig=n%10
    rev=rev+dig
    n=n//10
print(rev)

25

Q8.Write a program for reversing the given number 5436 and the output should be 6345.

In [8]:
n=5436
rev=0
while n>0:
    dig=n%10
    rev=rev*10+dig
    n=n//10
print(rev)

6345

Q9.Write a program to check if a given number 371 is an Armstrong number?

In [10]:
n=371
n1=len(str(n))
rev=0
temp=n
while temp>0:
    dig=temp%10
    rev=rev+dig**n1
    temp=temp//10
if n==rev:
    print("armstrong number")
else:
    print("not")

armstrong number

Q10.Write a program the given year is 1996, a leap year.

In [11]:
year=1996
if year%400==0 and year%100!=0 or year%4==0:
    print("leap year")
else:
    print("not")

leap year

Q11. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [12]:
a=[2,3,4,5,6,7]
a.append("mango")
a.extend(["banana","grapes","orange"])
a.insert(4,"apple")
a.pop()
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q12.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [13]:
l=[1,2,3,4,5,6,7]
l[1:4]

[2, 3, 4]

Q13. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [14]:
l=[4,5,6,8,3]
l[::-1]

[3, 8, 6, 5, 4]

Q14. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [15]:
l=[2,4,7,3,6,8]
[x**2 for x in l]

[4, 16, 49, 9, 36, 64]

In [16]:
list(map(lambda x:x**2,l))

[4, 16, 49, 9, 36, 64]

Q15. Create a function that takes in a tuple of integers and returns the sum of the integers. Test
the

function with a tuple of your choice.

In [17]:
def sum_tuple(t):
    return sum(t)
sum_tuple((1,2,3))

6

Q16. Create two sets of your favorite fruits, and use the union() method to combine them into a
single set.
Print the resulting set to the console.

In [18]:
f1={"mango","apple","orange"}
f2={"banana","pinapple"}
f1.union(f2)

{'apple', 'banana', 'mango', 'orange', 'pinapple'}

Q17. Create a set of random words, and use the add() method to add a new word to the set.
Print the
resulting set to the console.

In [19]:
s={"monkey","apple"}
s.add("anjum")
s

{'anjum', 'apple', 'monkey'}

Q18. Create a set of your favorite animals, and use the remove() method to remove one animal
from the
set. Print the resulting set to the console.

In [20]:
f={"monkey","donkey","lion"}
f.remove("monkey")
f

{'donkey', 'lion'}

Q19. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing
book/
movie pairs. Print the resulting list.

In [21]:
favorite_books={"1984","to kill a mockingbird","pride and prejudice"}
favorite_movies=["the shawshank redemption","the godfather","the dark knight"]
list(zip(favorite_books,favorite_movies))

[('1984', 'the shawshank redemption'),
 ('pride and prejudice', 'the godfather'),
 ('to kill a mockingbird', 'the dark knight')]

Q20. Write a Python program to find the difference between consecutive numbers in a list.
Solutions:

In [22]:
l=[2,5,9,8]
list(map(lambda x,y:abs(y-x),l[:-1],l[1:]))

[3, 4, 1]

Q21. Create a dictionary called fruits with the following key-value pairs:
"apple": 0.75
"banana": 1.25
"orange": 0.90
Then, print out the price of a banana.

In [23]:
fruits={
    "apple":0.75,
    "banana":1.25,
    "orange":0.90
}
print(fruits["banana"])

1.25

Q22. Create an empty dictionary called ages. Add the following key-value pairs to the dictionary:
"Alice": 30
"Bob": 25

"Charlie": 35
Then, print out the age of Charlie.

In [24]:
ages={}
ages["Alice"]=30
ages["Bob"]=25
ages["Charlie"]=35
print(ages["Charlie"])

35

Q23. Write a function called word_count(text) that takes a string as input and returns a
dictionary where
Each key is a word in the text and its value is the number of times that word appears in the text.
For
for example, word_count("hello world hello") should return {"hello": 2, "world": 1}.

In [25]:
def word_count(text):
    words=text.lower().split()
    return {word:words.count(word) for word in words}
word_count("hello hello world")

{'hello': 2, 'world': 1}

Q24. Create a dictionary called phone_book with the following key-value pairs:
"Alice": "555-1234"
"Bob": "555-5678"
"Charlie": "555-9012"
Then, prompt the user to enter a name and print out the corresponding phone number. If the
name is not
in the phone book, print out a message saying that the name was not found.

In [26]:
phone_book= {
    "Alice":"555-1234",
    "Bob":"555-5678",
    "Charlie":"555-9012"
}
name=input("enter a name:")
if name in phone_book:
    number=phone_book[name]
    print(f"{name} number is {number}")
else:
    print(f"{name} not found")

enter a name: Alice

Alice number is 555-1234

Q25. Write a program that prompts the user to enter a number between 1 and 10. If the number
is less than
5, print out "Too low!", otherwise print out "Too high!".

In [27]:
n=int(input("enter number between 1 to 10:"))
if n<5:
    print("too low")
else:
    print("too high")

enter number between 1 to 10: 5

too high

Q26. Write a program that prompts the user to enter a password. If the password is
"password123", print
out "Access granted", otherwise print out "Access denied".

In [30]:
psswd=input("enter password:")
if psswd=="password123":
    print("Access Granted")
else:
    print("Access Denied")

enter password: password123

Access Granted

Q27. Write a program that prompts the user to enter a positive integer. Then, use a loop to print
out all the
odd numbers from 1 to that integer.

In [33]:
n=int(input("enter number:"))
i=1
while i<=n:
    print(i)
    i=i+2

enter number: 20

1
3
5
7
9
11
13
15
17
19

In [32]:
n=int(input("enter a positive integer:"))
for i in range(1,n,2):
    print(i)

enter a positive integer: 20

1
3
5
7
9
11
13
15
17
19

Q28. Write a program that generates a random number between 1 and 100 and then prompts
the user to
guess the number. If the user's guess is too low, print out "Too low!", if the guess is too high,
print out "Too

high!", and if the guess is correct, print out "You win!".

In [34]:
import random
secret_number=random.randint(1,100)
guess=int(input("enter number from  1 to 100:"))
while guess!=secret_number:
    if guess<secret_number:
             print("too low")
    else:
        print("too high")
    guess=int(input("guess again"))
print("you win")

enter number from  1 to 100: 45

too low

guess again 56

too high

guess again 50

you win

Q29. Write a program that generates a random number between 1 and 10 and then prompts the
user to
guess the number. The user has three attempts to guess the number. If the user guesses
correctly within
three attempts, print out "You win!", otherwise print out "You lose!".

In [45]:
import random
secret_number=random.randint(1,10)
attempts=3
while attempts>0:
    guess=int(input("guess number between 1 to 10:"))
    if guess==secret_number:
        print("you win")
        break
    elif guess<secret_number:
        print("too low")
    else:
        print("too high")
    attempts-=1
if attempts==0:
    print("you loose")

guess number between 1 to 10: 6

too low

guess number between 1 to 10: 8

too low

guess number between 1 to 10: 9

you win

Q30. Write a program that prompts the user to enter their age and then prints out whether they
are a child
(age 0-12), a teenager (age 13-19), an adult (age 20-59), or a senior (age 60+)

In [47]:
age=int(input("enter their age:"))
if age<=12:
    print("child")
elif age<=19:
    print("teenager")
elif age<=59:
    print("adult")
else:
    print("senior")

enter their age: 15

teenager

Q31. Create a class called "Person" with properties for "name", "age", and "gender". Create an
object of this
class and print out its properties.

In [48]:
class Person:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
p=Person("rukz",34,"Female")
p.name,p.age,p.gender

('rukz', 34, 'Female')

Q32. Write a Python class called "Rectangle" with attributes for "width" and "height". Implement
methods
to calculate the area and perimeter of the rectangle. Create an instance of this class and use it
to print out
the rectangle's area and perimeter.

In [49]:
class Rectangle:
    def __init__(self,width,height):
        self.width=width
        self.height=height
    def area(self):
        return self.width*self.height
    def perimeter(self):
        return 2*(self.width+self.height)
r=Rectangle(5,10)
r.area(),r.perimeter()

(50, 30)

Q33. Write a Python class called "BankAccount" with attributes for "balance" and "interest_rate".
Implement methods to deposit and withdraw money from the account, as well as to calculate the
interest
earned on the balance based on the interest rate. Create an instance of this class and use it to
test out the
implemented methods for deposit, withdrawal, and interest calculation.

In [55]:
class BankAccount:
    def __init__(self,balance,interest_rate):
        self.balance=balance
        self.interest_rate=interest_rate
    def deposit(self,amount):
        self.balance+=amount
    def withdraw(self,amount):
        if self.balance>=amount:
            self.balance-=amount
            return True
        else:
            print("insufficient balance")
    def cal_interest_rate(self):
        return self.balance*self.interest_rate/100
b=BankAccount(1000,1.5)
b.deposit(1000),b.withdraw(30),b.cal_interest_rate()

(None, True, 29.55)

Q34. Write a Python class called "Animal" with attributes for "name" and "species". Create a
subclass of
"Animal" called "Dog" with additional attributes for "breed" and "owner". Implement both classes
with
appropriate methods and constructors to initialize their properties. Create instances of both
classes and
use them to print out the various properties of the animals and dogs, such as their names,
species,
breeds, and owners.

In [56]:
class Animal:
    def __init__(self,name,species):
        self.name=name
        self.species=species
class Dog(Animal):
    def __init__(self,name,species,breed,owner):
        super().__init__(name,species)
        self.breed=breed
        self.owner=owner
a=Animal("chintu","dog")
d=Dog("chintu","dog","dogy","rukz")
d.name,d.species,d.breed,d.owner,a.name,a.species

('chintu', 'dog', 'dogy', 'rukz', 'chintu', 'dog')

Q35. Create a class called "Car" with properties for "make", "model", and "year". Create a
subclass of "Car"
called "ElectricCar" with additional properties for "battery_size" and "range". Create objects of
both
classes and print out their properties.

In [60]:
class Car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
class ElectricCar(Car):
    def __init__(self,make,model,year,battery_size,range):
        super().__init__(make,model,year)
        self.battery_size=battery_size
        self.range=range
c=Car("innovo","volvo",2019)
e=ElectricCar("innovo","volvo",2020,78,45)

c.make,c.model,c.year,e.make,e.model,e.year,e.battery_size,e.range

('innovo', 'volvo', 2019, 'innovo', 'volvo', 2020, 78, 45)

Q36. Create a class called "Student" with properties for "name" and "id". Create a subclass of
"Student"
called "GraduateStudent" with additional properties for "advisor" and "research_area". Create
objects of
both classes and print out their properties.

In [61]:
class Student:
    def __init__(self,name,id):
        self.name=name
        self.id=id
class GraduateStudent(Student):
    def __init__(self,name,id,advisor,research_area):
        super().__init__(name,id)
        self.advisor=advisor
        self.research_area=research_area
s=Student("rukz",67)
g=GraduateStudent("rukz",67,"arun","ml")
s.name,s.id,g.name,g.id,g.advisor,g.research_area

('rukz', 67, 'rukz', 67, 'arun', 'ml')

Q37. Create a class called "Shape" with methods to calculate the area and perimeter of the
shape. Create
subclasses of "Shape" for "Rectangle", "Circle", and "Triangle" with their own methods for
calculating area
and perimeter. Create objects of each class and print out their area and perimeter.

In [68]:
import math
class Shape:
    def area(self):
        pass
    def perimeter(self):
        pass
class Rectangle(Shape):
    def __init__(self,width,heigh):
        self.width=width
        self.heigh=heigh
    def area(self):
        return self.width*self.heigh
    def perimeter(self):
        return 2*(self.width+self.heigh)
class Circle(Shape):
    def __init__(self,radius):
        self.radius=radius
    def area(self):
        return math.pi*self.radius**2
    def perimeter(self):
        return 2*math.pi*self.radius
class Triangle(Shape):
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def area(self):
        s=(self.a+self.b+self.c)/2
        return math.sqrt(s*(s-self.a)*(s-self.b)*(s-self.c))
    def perimeter(self):
        return self.a+self.b+self.c
r=Rectangle(5,10)
c=Circle(4)
t=Triangle(3,4,5)
c.area(),c.perimeter(),t.area(),t.perimeter()

(50.26548245743669, 25.132741228718345, 6.0, 12)

Q38. Create a class called "Employee" with properties for "name", "id", and "salary". Add
methods to give the employee a raise and to calculate their annual salary. Create objects of this
class and test out the
methods.

In [70]:
class Employee:
    def __init__(self,name,id,salary):
        self.name=name
        self.id=id
        self.salary=salary
    def give_raise(self,amount):
        self.salary+=amount
    def annual_salary(self):
        return self.salary*12
e=Employee("rukz",67,5000)
e.give_raise(1000),e.annual_salary()

(None, 72000)

Q39. Create a class called "Book" with properties for "title", "author", and "publisher". Create a
subclass of
"Book" is called "Ebook" with additional properties for "file_format" and "file_size". Create
objects of both
classes and print out their properties.

In [71]:
class Book:
    def __init__(self,title,author,publisher):
        self.title=title
        self.author=author
        self.publisher=publisher
class Ebook(Book):
    def  __init__(self,title,author,publisher,file_format,file_size):
        super().__init__(title,author,publisher)
        self.file_format=file_format
        self.file_size=file_size
b=Book("my life","rukz","rv pvt lmtd")
e=Ebook("my  journey","ruquiya","rv pvt lmtd","pdf",89)
b.title,b.author,b.publisher,e.title,e.author,e.publisher,e.file_format,e.file_size

('my life',
 'rukz',
 'rv pvt lmtd',
 'my  journey',
 'ruquiya',
 'rv pvt lmtd',
 'pdf',
 89)

Q40. Create a class called "Bank" with properties for "name" and "accounts". Add methods to
create new
accounts, deposit and withdraw money from accounts, and to calculate the total balance of all
accounts.
Create an object of this class and test out the methods.

In [81]:
class Bank:
    
    def __init__(self,name):
        self.name=name
        self.accounts={}
        
    def create_account(self,account_name,initial_balance):
        self.accounts[account_name]=initial_balance
        
    def deposit(self,account_name,amount):
        if account_name in self.accounts:
            self.accounts[account_name]+=amount
        else:
            print("account name not found")
    
    def withdraw(self,account_name,amount):
        if account_name in self.accounts:
            if self.accounts[account_name]>=amount:
                  self.accounts[account_name]-=amount
                  return True
            else:
                print("insufficient balace")
        else:
            print("no account found")
        
    def total_balance(self):
        return sum(self.accounts.values())
b=Bank("mybank")
b.create_account("ruquiya",2000)

In [82]:
b.create_account("bhuvana",4000)

In [83]:
b.accounts

{'ruquiya': 2000, 'bhuvana': 4000}

In [84]:
b.deposit("ruquiya",300)

In [85]:
b.withdraw("ruquiya",100)

True

In [86]:
b.name

'mybank'

In [87]:
b.total_balance()

6200

Q41. Can you create a Python program that reads a text file and counts the number of words
contained
within it? The program should be designed to read the file and break it down into individual
words, using

spaces, punctuation marks, and other delimiters to separate the words. It should then count the
number
of words found in the file and display this count as output. The program should be flexible
enough to work
with different text files and should be able to handle a variety of formatting and punctuation
styles.

In [88]:
with open("data.txt","r") as f:
    data=f.read().split()
    print(len(data))

90

Q42. Could you help me create a Python program that can find and display the longest word in
a text file?
The program should be able to read any text file and separate its contents into individual words,
taking
into account various delimiters like spaces, punctuation marks, and other characters. Then, it
should
compare the length of each word and determine which one is the longest, and finally, print that
word as
output. The program should be versatile enough to work with various text files and be able to
handle
different formatting styles and punctuation.

In [89]:
with open("data.txt","r") as f:
    data=f.read().split()
    print(max(data,key=len))

punctuation

Q43. Write a Python program to read a text file and print out the most frequent word(s) in the
file.

In [5]:
from collections import Counter

with open("data.txt","r") as f:
    data=Counter(f.read().lower().replace("\n"," ").split())
    #print(data)
    max_value=max(data.values())
    print(max_value)
    for word,count in data.items():
        if count==max_value:
              print(f"{word} occurs {count} times")

7
the occurs 7 times

Q44. How can you use Python to count the number of rows in a CSV file?

In [6]:
import csv

num_rows=sum(1 for row in csv.reader(open("data.csv")))
print(num_rows)

5

Q45. How can you use Python to calculate the average of a specific column in a CSV file?

In [14]:
import csv

column_index=2
with open("data.csv","r") as f:
    reader=csv.reader(f)
    next(reader)
    values=[float(row[column_index]) for row in reader]
    print(values)
average=sum(values)/len(values)
print(average)

[50000.0, 60000.0, 70000.0, 55000.0]
58750.0

Q46. Write a Python program to read a JSON file and print out the value of a specified key.

In [15]:
import json

with open("data.json","r") as f:
    data=json.load(f)
    print(data["name"])

ruquiya

Q47. Can you provide a Python code snippet to write a list of strings into a text file where each
string is
written on a new line?

In [16]:
l=["ruquiya","anjum","yes","you deserve better"]
with open("string.txt","w") as f:
    for i in l:
        f.write(i+"\n")

Q48. Can you provide a Python code to read a binary file and display the data in hexadecimal
format.

In [17]:
import binascii

with open("data.bin","rb") as f:
    data=f.read()
    hex_data=binascii.hexlify(data).decode()
print(hex_data)

6d666a66666d666b6b726b726b20736a6a736a6a736a6a

Q49. Can you write a Python code to read a Comma-Separated Values (CSV) file, apply a
specific condition
to each row, and create a new CSV file that contains only the rows that satisfy the condition?
For example,
if the CSV file contains information about products and their prices, you may want to create a
new CSV
file that only includes the products that are within a certain price range. The program should be
able to
read the CSV file, compare the values in each row to the specified condition, and write the rows
that meet
the criteria to a new CSV file.

In [6]:
import csv

with open("product.csv","r") as f,open("filter_product.csv","w") as f1:
    writer=csv.writer(f1)
    writer.writerow(next(csv.reader(f)))
    writer.writerows(filter(lambda x:int(x[1])<=500,csv.reader(f)))

Q50. Write a Python program to read a text file, count the frequency of each word, and write the
results to
a new text file.

In [9]:
from collections import Counter
with open("data.txt","r") as f,open("data2.txt","w") as f1:
    data=Counter(f.read().lower().replace("\n"," ").split())
  
    for word,count in data.items():
        f1.write(f"{word}: {count}"+"\n")

Q51. Write a program that prints the first 10 even numbers using a for loop.

In [10]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

Q52. Write a program that takes a list of strings and prints out each string in reverse order using
a for loop.

In [11]:
l=["abc","uyu","welcome","luxenburg"]
for i in l:
    print(i[::-1])

cba
uyu
emoclew
grubnexul

Q53. Write a program that prints the multiplication table of a given number using a for loop.

In [12]:
n=5
for i in range(1,11):
    print(n,"x",i,"=",n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Q54. Write a program that takes a list of integers as input and returns the sum of all the
numbers in the list
using a for loop.

In [14]:
l=[1,2,3]
a=0
for i in l:
    a+=i
a

6

Q55. Write a program that prompts the user for a positive integer and then prints out all the
prime
numbers up to that number using a for loop.

In [17]:
def prime(n):
    num=2
    for i in range(n):
        if all(num%i!=0 for i in range(2,int(num**0.5)+1)):
            yield num
        num+=1
n=int(input("enter positive integer:"))
p=prime(n)
for i in p:
    print(i)

enter positive integer: 30

2
3
5
7
11
13
17
19
23
29
31

Q56. Write a program that prompts the user to enter a password until the correct password is
entered
using a while loop.

In [18]:
passwd=input("enter password")
while passwd!="password123":
    print("INCORRECT PASSWORD")
    passwd=input("enter password again: ")
print("CORRECT PASSWORD")

enter password hhhh

INCORRECT PASSWORD

enter password again:  qkkqkqk

INCORRECT PASSWORD

enter password again:  qjjqjqjq

INCORRECT PASSWORD

enter password again:  ayaahah

INCORRECT PASSWORD

enter password again:  password123

CORRECT PASSWORD

Q57. Write a program that takes a list of strings and prints out each string in reverse order using
a while
loop.

In [19]:
l=["python","programming","php"]
while l:
    print(l.pop(0)[::-1])

nohtyp
gnimmargorp
php

Q58. Write a program that prompts the user to enter a positive integer and then prints out all the
Fibonacci
numbers up to that number using a while loop.

In [21]:
def fib():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b
f=fib()
n=int(input("enter number:"))
for i in range(n):
    print(next(f))

enter number: 20

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

Q59. Write a program that takes a list of integers as input and returns the product of all the
numbers in the
list using a while loop.

In [22]:
l=[1,2,3,4,5]
i=1
while i<=len(l):
    for j in l:
        i*=j
i

120

Q60. Write a program that prompts the user to enter a positive integer and then prints out the
factorial of
that number using a while loop.

In [24]:
n=int(input("enter number:"))
fact=1
i=1
while i<=n:
    fact*=i
    i=i+1
fact

enter number: 4

24

Q61. Write a program that spawns two threads. One thread should print even numbers between
0 and 10,
and the other thread should print odd numbers between 1 and 9.

In [25]:
import threading

def print_even():
    for i in range(0,11,2):
        print(i)
    
def print_odd():
    for i in range(1,10,2):
        print(i)

if __name__=="__main__":
    m1=threading.Thread(target=print_even)
    m2=threading.Thread(target=print_odd)
    
    m1.start()
    m2.start()
    
    m1.join()
    m2.join()

0
2
4
6
8
10
1
3
5
7
9

Q62. Write a program that generates a list of random numbers and sorts them using
multithreading. Use
two threads to sort the first half and the second half of the list in parallel.

In [1]:
import threading
import random

my_list=[random.randint(1,100) for _ in range(1,10)]

def sort_list(start,end):
    my_list[start:end]=my_list[start:end]

if __name__=="__main__":
    m1=threading.Thread(target=sort_list,args=(0,len(my_list)//2))
    m2=threading.Thread(target=sort_list,args=(len(my_list)//2,len(my_list)))
    m1.start()
    m2.start()
    
    m1.join()
    m2.join()
    print(sorted(my_list))

[5, 42, 44, 60, 62, 71, 87, 90, 100]

Q63. Write a program that simulates a bank account transaction. The program should create
two threads,
one for a deposit and one for a withdrawal. The deposit thread should add
100 to the account,and the withdrawal thread should withdraw
50 from the account. Run the program for 10 iterations.

In [31]:
import threading

balance=0
lock=threading.Lock()

def deposit():
    global balance
    for i in range(10):
        lock.acquire()
        balance+=100
        print(f" added {balance} to account")
        lock.release()
        
def withdraw():
    global balance
    for i in range(10):
        lock.acquire()
        balance-=50
        print(f"withdraw {balance} from account")
        lock.release()
        
t1=threading.Thread(target=deposit)
t2=threading.Thread(target=withdraw)

t1.start()
t2.start()

t1.join()
t2.join()

 added 100 to account
 added 200 to account
 added 300 to account
 added 400 to account
 added 500 to account
 added 600 to account
 added 700 to account
 added 800 to account
 added 900 to account
 added 1000 to account
withdraw 950 from account
withdraw 900 from account
withdraw 850 from account
withdraw 800 from account
withdraw 750 from account
withdraw 700 from account
withdraw 650 from account
withdraw 600 from account
withdraw 550 from account
withdraw 500 from account

Q64. Write a Python program that creates a thread to print out the current date and time every 5
seconds.
The program should continue running until the user presses the 'q' key.

In [ ]:
import threading
import time

def print_time():
    while True:
            print(time.strftime("%Y-%m-%d %H:%M:%S",time.localtime()))
            time.sleep(5)
        
            
t1=threading.Thread(target=print_time)
t1.start()

while True:
    if input()=="q":
        break

2024-02-24 05:31:46

 q

2024-02-24 05:31:51
2024-02-24 05:31:56
2024-02-24 05:32:01
2024-02-24 05:32:06
2024-02-24 05:32:11
2024-02-24 05:32:16
2024-02-24 05:32:21
2024-02-24 05:32:26
2024-02-24 05:32:31
2024-02-24 05:32:36
2024-02-24 05:32:41
2024-02-24 05:32:46
2024-02-24 05:32:51
2024-02-24 05:32:56
2024-02-24 05:33:01
2024-02-24 05:33:06
2024-02-24 05:33:11

Q65. Write a Python program that creates two threads. Each thread should print out the
numbers from 1 to
10. The two threads should run concurrently and print out the numbers in an interleaved
fashion.

In [2]:
import threading

def print_num(start,end):
    for i in range(start,end+1):
        print(i)
t1=threading.Thread(target=print_num,args=(1,10))
t2=threading.Thread(target=print_num,args=(1,10))

t1.start()


t2.start()
t1.join()
t2.join()

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

Q66. Write a Python program to create a shared variable between two threads and increment its
value in
each thread.

In [3]:
import threading

shared_var=0
lock=threading.Lock()
def increment():
    global shared_var
    lock.acquire()
    shared_var+=1
    lock.release()
t1=threading.Thread(target=increment)
t2=threading.Thread(target=increment)

t1.start()
t2.start()

t1.join()
t2.join()
print(shared_var)

2

Q67. Here's a Python program that creates a thread to count down from 5 to 0 and prints
"Blastoff!" when
the count reaches 0:

In [4]:
import threading 
import time

def count():
    for i in range(5,0,-1):
        print(i)
        time.sleep(0.1)
    print("Blastoff")
t1=threading.Thread(target=count)
t1.start()
t1.join()

5
4
3
2
1
Blastoff

Q68. Write a program that creates a thread to print the Fibonacci sequence up to a certain
number n. The
main thread should prompt the user for the value of n.

In [6]:
import threading
def fib(n):
    a,b=0,1
    for i in range(n):
        print( a)
        a,b=b,a+b
n=int(input("enter number:"))
t1=threading.Thread(target=fib,args=(n,))
t1.start()
t1.join()

enter number: 10

0
1
1
2
3
5
8
13
21
34

Q69. Write a program that creates two threads to add and subtract numbers from a shared
variable. The
shared variable should start at 0, and each thread should perform 10 iterations of adding or
subtracting a
random integer between 1 and 10. The program should print the final value of the shared
variable.

In [14]:
import threading
import random
import time

class add_thread(threading.Thread):
    def __init__(self,shared_var):
        super().__init__()
        self.shared_var=shared_var
    def run(self):
        for i in range(1,10):
            num=random.randint(1,10)
            self.shared_var+=num
            print(f"shared variable added by {self.shared_var}")
            time.sleep(0.5)
    
class subtract_thread(threading.Thread):
    def __init__(self,shared_var):
        super().__init__()
        self.shared_var=shared_var
    def run(self):
        for i in range(1,10):
            num=random.randint(1,10)
            self.shared_var-=num
            print(f"removed shared variable {self.shared_var}")
            time.sleep(0.5)
shared_var=0           
t1=add_thread(shared_var)
t2=subtract_thread(shared_var)

t1.start()
t2.start()
t1.join()
t2.join()
print(shared_var)

shared variable added by 10
removed shared variable -6
shared variable added by 20
removed shared variable -12
shared variable added by 22
removed shared variable -15
shared variable added by 25
removed shared variable -25
shared variable added by 32removed shared variable -29

removed shared variable -37
shared variable added by 38
removed shared variable -42
shared variable added by 40
removed shared variable -51
shared variable added by 46
removed shared variable -58
shared variable added by 52
0

Q70. Write a program that creates a thread to calculate the sum of the numbers from 1 to 100
and prints the result.

In [17]:
import threading

def sum_num():
    print( sum(range(1,101)))
t1=threading.Thread(target=sum_num)
t1.start()
t1.join()

5050

Q71.Write a Python program to create two processes that print out the numbers from 1 to 10
simultaneously.

In [19]:
import multiprocessing

def print_num(start,end):
    for i in range(start,end+1):
        print(i)
if __name__=="__main__":
    m1=multiprocessing.Process(target=print_num,args=(1,5))
    m2=multiprocessing.Process(target=print_num,args=(6,10))
    m1.start()
   
    m1.join()
    m2.start()
    m2.join()

1
2
3
4
5
6
7
8
9
10

Q72.Write a Python program that creates four processes and computes the sum of the first
1000 integers using multiprocessings

In [21]:
import multiprocessing


def compute_sum(start,end,total):
    for i in range(start,end+1):
        with total.get_lock():
             total.value+=i
if __name__=="__main__":
    total=multiprocessing.Value('i',0)
    m1=multiprocessing.Process(target=compute_sum,args=(0,250,total))
    m2=multiprocessing.Process(target=compute_sum,args=(251,500,total))
    m3=multiprocessing.Process(target=compute_sum,args=(501,750,total))
    m4=multiprocessing.Process(target=compute_sum,args=(751,1000,total))
    
    m1.start()
    m2.start()
    m3.start()
    m4.start()
    
    m1.join()
    m2.join()
    m3.join()
    m4.join()
    
    print(total.value)

500500

Q73.Write a Python program that creates two processes and communicates between them
using a Queue. The first process should send a list of numbers to the second process, which
should calculate the sum of the numbers and send it back to the first process.

In [22]:
import multiprocessing

def sum_num(data,q):
    data=sum(data)
    q.put(data)
    
if __name__=="__main__":
    data=[1,2,3,4]
    q=multiprocessing.Queue()
    m=multiprocessing.Process(target=sum_num,args=(data,q))
    m.start()
    result=q.get()
    print(result)

10

Q74.Write a program to find the maximum number in a list of lists using multiprocessing.

In [24]:
import multiprocessing

def max_num(list1):
    return max(list1)
if __name__=="__main__":
    list1=[[1,2,3],[4,5,6],[7,8,9]]
    with multiprocessing.Pool(processes=3) as pool:
        out=pool.map(max_num,list1)
        print(max(out))

9

Q75.Write a Python program that uses the Pool class from the multiprocessing module to
calculate the squares of a list of integers.

In [25]:
import multiprocessing

def squares(n):
    return n**2

if __name__=="__main__":
    l=[1,2,3,4,5,6]
    with multiprocessing.Pool(processes=4) as pool:
        out=pool.map(squares,l)
        print(out)

[1, 4, 9, 16, 25, 36]

Q76.How do you create a new process using the multiprocessing module in Python?

In [26]:
import multiprocessing

def my_function():
    print("this is child process")
if __name__=="__main__":
    m=multiprocessing.Process(target=my_function)
    m.start()
    m.join()

this is child process

Q77.How do you use a Pool to execute a function with multiple arguments in parallel?

In [27]:
import multiprocessing

def my_function(num1,num2):
    return num1*num2
if __name__=="__main__":
    with multiprocessing.Pool(processes=4) as pool:
        out=pool.starmap(my_function,[(3,2),(5,4)])
        print(out)

[6, 20]

Q78.Write a Python program to calculate the sum of squares of numbers in a list using
multiprocessing.

In [30]:
import multiprocessing

def sum_squares(list1,result):
    total=0
    for i in list1:
        total+=i**2
    result.value=total
    
if __name__=="__main__":
    list1=[1,2,3]
    result=multiprocessing.Value('i')
    m=multiprocessing.Process(target=sum_squares,args=(list1,result))
    m.start()
    m.join()
    print(result.value)

14

Q79.Write a Python program that uses the multiprocessing module to calculate the sum of a
large list of integers.

In [33]:
import multiprocessing


def large_list(data_chunk):
    return sum(data_chunk)

if __name__=="__main__":
    list1=[1,2,3,4,5,6,7,8,9,10]*10000
    m=multiprocessing.Pool(processes=4)
    chucksize=len(list1)//4
    chunck=[list1[i:i+chucksize] for i in range(0,len(list1),chucksize)]
    out=m.map(large_list,chunck)
    m.close()
    m.join()
    print(sum(out))

550000

Q80.Write a Python program that uses the multiprocessing module to parallelize the
computation of the factorial of a number.

In [36]:
import multiprocessing

def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
def factorial_worker(n):
    return factorial(n)
if __name__=="__main__":
    n=10
    with multiprocessing.Pool(processes=4) as pool:
        out=pool.map(factorial_worker,range(1,n+1))
        print(out)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

Q81.Write a Python program that prompts the user for two integers and divides the first integer
by the second integer. If the either variable are none integer then print the value error and
second integer is zero, catch the ZeroDivisionError and print an error message to the user.

In [2]:
while True:
    try:
        x=int(input("enter number:"))
        y=int(input("enter number:"))
        result=x/y
        print(result)
        break
    except ValueError as e:
        print("value error give integer numbers only")
    except ZeroDivisionError as e:
        print("error: divided by zero divison error , second integer should be non zero")

enter number: 7
enter number: 0

error: divided by zero divison error , second integer should be non zero

enter number: 6
enter number: gg

value error give integer numbers only

enter number: 6
enter number: 6

1.0

Q82.Write a Python program that prompts the user for a password and checks whether the
password meets certain criteria (e.g., at least 8 characters, contains at least one uppercase
letter, etc.). If the password does not meet the criteria, raise a custom exception called
PasswordError with a custom error message.

In [3]:
class validate_password(Exception):
    def __init__(self,msg):
        self.msg=msg
def Validate_password(password):
    if len(password)<8:
        raise validate_password("Error: password must contain atleast 8 characters")
    elif not any(char.isupper() for char in password):
        raise validate_password("Error: password must contain atleast one upper case character")
    elif not any(char.isdigit() for char in password):
        raise validate_password("Error:password must contains atleast one digit")
    elif not any(char in ["$","#","@"] for char in password):
        raise validate_password("Error: password must contain special case character")
    else:
        print("PASSWORD IS VALID")
        return True
while True:
    try:
        password=input("enter password:")
        if Validate_password(password):
            break
    except validate_password as e:
        print(e)

enter password: rrjrkk

Error: password must contain atleast 8 characters

enter password: ururururuururu

Error: password must contain atleast one upper case character

enter password: Yjsjsjsjsjsjs

Error:password must contains atleast one digit

enter password: Yhhshshshhsh5

Error: password must contain special case character

enter password: YRJJjjdjjdjd788@

PASSWORD IS VALID

Q83.Write a Python program that prompts the user for a number and calculates the square root
of the number using the math.sqrt() function. If the number is negative, raise a ValueError with a
custom error message.

In [ ]:
import math

while True:
    try:
        num=float(input("enter number:"))
        if num<0:
            raise ValueError("Error: Value should not be negative")
        result=math.sqrt(num)
        print("square root of ",num,"is",result)
        break
    except ValueError as e:
        print(e)

enter number: -9

Error: Value should not be negative

enter number: 89

square root of  89.0 is 9.433981132056603

84.Write a Python program that prompts the user to input a list of strings separated by commas. The program should then sort the list in alphabetical order and check if any string contains non-alphabetic characters. If a non-alphabetic character is found in any string, it should raise a TypeError exception with the message "Error: list contains non-alphabetic characters." Otherwise, it should print the sorted list.

In [ ]:
while True:
    try:
        string_list=input("enter a string by comma separted:").split(",")
        string_list=sorted(string_list)
        
        for string in string_list:
            if not string.isalpha():
                raise TypeError("Error: list contain non alphabetic character")
        print(string_list)
        break
    except TypeError as e:
        print(e)

enter a string by comma separted: djdjdjdj,rorororoor,93939

Error: list contain non alphabetic character

enter a string by comma separted: jfjfjfjj,oororor,sjjsjj

['jfjfjfjj', 'oororor', 'sjjsjj']

Q85.Write a Python program that prompts the user for a list of integers and calculates the
average of the list. If the list is empty, raise a ValueError with a custom error message.

In [ ]:
while True:
    try:
        list_int=input("enter numbers by comma separted:").split(",")
        list_int=[int(num) for num in list_int]
        average=sum(list_int)/len(list_int)
        if not list_int:
            raise ValueError("Error: list is empty ")
        print(average)
        break
    except ValueError as e:
        print(e)

enter numbers by comma separted: 5,6,7,8

6.5

Q86.Write a function that takes a string as input and returns the number of vowels in the string.
If the input is not a string, raise a TypeError with a custom error message.

In [9]:
def count_vowels(string):
    try:
        if not isinstance(string,str):
            raise TypeError("Error: Input should be string")
        string=string.lower()
        vowels="aeiou"
        return sum([1 for char in string if char in vowels])
    except TypeError as e:
        print(e)
count_vowels("this is a function")

6

Q87.write a python program how to handle simple runtime error?

In [11]:
try:
    9/0
except ZeroDivisionError as e:
    print(e)  #runtime error

division by zero

Q88.write a program how to handle multiple errors with one answer:# Program to handle
multiple errors with one

In [17]:
def fun(a):
    
    if a<4:
        b=a/(a-3)
    print("value of b is",b)
try:
    fun(3)
    fun(5)
except ZeroDivisionError as e:
    print("zero division error occured and handled")
except NameError as e:
    print("name error occured and handle")

zero division error occured and handled

Q89.write a program to print the reciprocal of even numbers note:we might want to run a certain
block of code if the code block inside try runs without any errors. For these cases, you can use
the optional else keyword with the try statement.

In [19]:
try:
    num=int(input("enter number:"))
    assert num%2==0
except :
    print("not an even number")
else:
    reciprocal=1/num
    print(reciprocal)

enter number: 64

0.015625

Q90.How to handle exceptions using the try, except, and finally statements write code

In [21]:
try:
    num=int(input("enter number:"))
    result=2/num
    print(result)
except ValueError as e:
    print("enter valid number")
except ZeroDivisionError :
    print("Error: cannot divided by zero")
finally:
    print("thank you for using this program")

enter number: iii

enter valid number
thank you for using this program

Q91. Write a Python program to create a MySQL database and a table.

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS TEST")
mycursor.execute("CREATE TABLE IF NOT EXISTS TEST.refernce_table(id INT AUTO_INCREMENT PRIMARY KEY,charname VARCHAR(40) UNIQUE)")
mycursor.execute("CREATE TABLE IF NOT EXISTS TEST.users1(id INT AUTO_INCREMENT PRIMARY KEY,username VARCHAR(30) NOT NULL,email VARCHAR(40) UNIQUE,ref_id INT,FOREIGN KEY (ref_id) REFERENCES refernce_table(id))")

Q92. Write a Python program to insert data into a MySQL table.

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS TEST")
mycursor.execute("CREATE TABLE IF NOT EXISTS TEST.refernce_table(id INT AUTO_INCREMENT PRIMARY KEY,charname VARCHAR(40) UNIQUE)")
mycursor.execute("CREATE TABLE IF NOT EXISTS TEST.users1(id INT AUTO_INCREMENT PRIMARY KEY,username VARCHAR(30) NOT NULL,email VARCHAR(40) UNIQUE,ref_id INT,FOREIGN KEY (ref_id) REFERENCES refernce_table(id))")

mycursor.execute("INSERT INTO TEST.refernce_table values(123,'rukz')")
mydb.commit()

mycursor.execute("INSERT INTO TEST.users1 values(2,'anjum','rukz123@gmail.com',123)")
mydb.commit()
print(mycursor.rowcount, "record inserted.")  #1 record inserted..

Q93. Write a Python program to create an index on a MySQL table.

In [ ]:
# Create an index on the 'ref_id' column of the 'users1' table
mycursor.execute("CREATE INDEX idx_ref_id ON TEST.users1(ref_id)")

# Commit the transaction
mydb.commit()

# Check if the index is created successfully
print("Index created successfully.")
mycursor.execute("SHOW INDEX FROM TEST.users1")
for i in mycursor.fetchall():
    print(i)

Q94. Write a Python program to join two tables in MySQL.

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="TEST"
)
mycursor.execute("SELECT users1.id, users1.username, users1.email, refernce_table.charname FROM users1 INNER JOIN refernce_table ON users1.ref_id = refernce_table.id")

# Fetch all the rows resulting from the join
result = mycursor.fetchall()

# Print the result
for row in result:
    print(row)

Q95. Write a Python program to handle MySQL errors using exception handling.

In [ ]:
import mysql.connector
try:
  mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password",
    database="TEST"
  )
except mysql.connector.Error as err:
  print("Something went wrong: {}".format(err))
else:
  mycursor = mydb.cursor()
  mycursor.execute("SELECT * FROM TEST.users1")
  myresult = mycursor.fetchall()
  for x in myresult:
    print(x)
finally:
  mydb.close()

Q96. Write a Python program to connect to a MongoDB database and insert data.
Q97. Write a Python program to update data in a MongoDB database.
98.Write a Python program to handle MongoDB errors using exception handling.
Q99. Write a Python program to query a MongoDB database using aggregation.
100. Write a Python program to perform a text search on a MongoDB database.

In [1]:
import pymongo

try:

    client=pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.vwmjzqx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
    #db=client.test
    #db
    mydb=client["school"]
    mycollection=mydb["students"]
except pymongo.errors.ConnectionFailure as e:
    print("something went wrong",e)
else:
        mycollection.create_index([("name", pymongo.TEXT), ("address", pymongo.TEXT)])  #creating text index

        data= [
            {"name":"ruquiya","address":"bangalore","age":27},
            {"name":"rukz","address":"punjab","age":34},
            {"name":"priya","address":"kashmir","age":23}
        ]
        data1={"_id":1,"school":"my schoool","course":"data science"}
        #mycollection.insert_many(data)
    
        #mycollection.insert_one(data)
        #mycollection.update_one({"name":"anjum"},{"$set":{"name":"rankgirl"}})
        
        for i in mycollection.find({"$text":{"$search":"ruquiya"}}):
            print(i)
         
        #aggregation
        pipeline = [
        {"$group": {"_id": None, "avg_age": {"$avg": "$age"}}}
        ]

         # Execute the aggregation pipeline
        aggregation_result = list(mycollection.aggregate(pipeline))
        print(aggregation_result)
        # Print the result
        if aggregation_result:
                 avg_age = aggregation_result[0]["avg_age"]
                 print("Average age of students:", avg_age)
        else:
                print("No students found")
       
finally:
    #client.close()
    pass

{'_id': ObjectId('65ddc4b818cc05df17e8992f'), 'name': 'ruquiya', 'age': 23, 'address': 'bangalore'}
{'_id': ObjectId('65ddc4a218cc05df17e8992a'), 'name': 'ruquiya', 'age': 23, 'address': 'bangalore'}
{'_id': ObjectId('65ddc48018cc05df17e89925'), 'name': 'ruquiya', 'age': 23, 'address': 'bangalore'}
[{'_id': None, 'avg_age': 30.666666666666668}]
Average age of students: 30.666666666666668

In [ ]:
Q96. Write a Python program to connect to a MongoDB database and insert data.

Q97. Write a Python program to update data in a MongoDB database.

Q98. Write a Python program to handle MongoDB errors using exception handling.

Q99. Write a Python program to query a MongoDB database using aggregation.

Q100. Write a Python program to perform a text search on a MongoDB database.

In [27]:
import pymongo

try:
    mydb=pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.vwmjzqx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
    mydatabase=mydb["schools"]
    mycoll=mydatabase["students1"]
    
except pymongo.errors.ConnectionFailure as e:
    print("something went wrong",e)
else:
    data1={"name":"ruquiya","address":"punjab","age":24}
    mycoll.create_index([("name",pymongo.TEXT),("address",pymongo.TEXT)])
    
    mycoll.insert_one(data1)
    
    
    mycoll.update_one({"name":"ruquiya"},{"$set":{"name":"anjum"}})
    for i in mycoll.find({"$text":{"$search":"ruquiya"}}):
        print(i)
        
    pipeline=[{"$group":

{'_id': ObjectId('65daf728cb6467516d3949b0'), 'name': 'ruquiya', 'address': 'punjab', 'age': 24}
{'_id': ObjectId('65daf4e8cb6467516d3949ae'), 'name': 'ruquiya', 'address': 'punjab', 'age': 24}

Q101. Create a Flask application that displays "Hello, World!" on the homepage.

In [ ]:
from flask import Flask
app = Flask(_name_)
@app.route("/")
def hello():
    return "Hello, World!"
if _name_ == "_main_":
    app.run("0.0.0.0")

Q102. Write a Flask route that takes a name parameter and returns "Hello, [name]!" as plain
text.

In [ ]:
from flask import Flask
app = Flask(__name__)
@app.route("/hello/<name>")
def hello(name):
    return f"Hello, {name}!"
if __name__ == "__main__":
    app.run("0.0.0.0")

Q103. Write a Flask route that takes a number parameter and returns the square of that number
as plain
text.

In [ ]:
from flask import Flask
app = Flask(__name__)
@app.route("/square/<int:num>")
def square(num):
    return str(num**2)
if __name__ == "__main__":
    app.run("0.0.0.0")

Q104. Write a Flask route that displays a simple HTML form that asks for a name and returns
"Hello,
[name]!" when submitted.

In [ ]:
from flask import Flask, request, render_template
app = Flask(__name__)
@app.route("/", methods=["GET", "POST"])
def hello():
    if request.method == "POST":
        name = request.form["name"]
        return f"Hello, {name}!"
    else:
        return render_template("index.html")
if __name__ == "__main__":
    app.run("0.0.0.0")

Q105. Write a Flask route that displays a list of names in an HTML unordered list.

In [ ]:
from flask import Flask, render_template
app = Flask(__name__)
@app.route("/names")
def names():
    names = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
    return render_template("names.html", names=names)
if __name__ == "__main__":
    app.run("0.0.0.0")

Q106. Write a Flask route that displays a list of names in a table.

In [ ]:
from flask import Flask, render_template

app = Flask(__name__)

@app.route('/names')
def display_names():
    names = ["Alice", "Bob", "Charlie", "David", "Eve"]  # Example list of names
    return render_template('names_table.html', names=names)

if __name__ == '__main__':
    app.run("0.0.0.0")

Q107. Write a Flask route that displays a list of names in a dropdown menu.

In [ ]:
from flask import Flask, render_template
app = Flask(__name__)
@app.route("/names")
def names():
    names = ["Alice", "Bob", "Charlie"]
    return render_template("names.html", names=names)
if __name__ == "__main__":
    app.run("0.0.0.0")

Q108. Write a Flask route that receives data through a POST request and returns the data in
JSON format.

In [ ]:
from flask import Flask,request,jsonify

app=Flask(__name__)

@app.route("/data",methods=["POST"])
def data():
    data=request.get_json()
    print(data)
    return jsonify((data))
if __name__=="__main__":
    app.run("0.0.0.0")

In [6]:
import requests

# URL of your Flask route
url = 'https://yellow-translator-neznf.pwskills.app:5000/data'

# Data to be sent in JSON format
data = {
    'name': 'ruquiya',
    "age":27,
    "address":"bangalore"
}

# Sending POST request with JSON data
response = requests.post(url, json=data)

# Printing the response from the Flask server
print(response.json())

"""  tested with POSTMAN TOOL """

{'address': 'bangalore', 'age': 27, 'name': 'ruquiya'}

Q109. Write a Flask route that redirects the user to a different URL.

In [ ]:
from flask import Flask,redirect

app=Flask(__name__)
@app.route("/")
def page():
    return redirect("/welcome")
@app.route("/welcome")
def welcome():
    return "<h1> welcome to flask redirect page <h1>"

if __name__=="__main__":
    app.run("0.0.0.0")